<p>rest-testing works!</p>

<table style="width:100%">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>ZIP</th>
    <th>Town</th>
  </tr>
  <tr *ngFor="let location of locations">
    <th>{{location['id']}}</th>
    <th>{{location['name']}}</th>
    <th>{{location['address']['street']}} {{location['address']['streetNumber']}}</th>
    <th>{{location['address']['zip']}}</th>
    <th>{{location['address']['town']}}</th>
  </tr>
</table>

  <input type="text">
  <button (click)="getLocations('57072')">awddw</button>
