.input-group {
  display: table;
}

.input-group input, .suffix {
  display: table-cell;
}

.suffix {
  width:1%;
}
.section {
  background-size: cover;
  background-position: center center;
  position: relative;

  &.s1 {
    .logo-container {
      position: absolute;
      top: 100px;
      width: 80%;
      margin-left: 10%;
    }
    .logo {
      width: 270px;
      height: 75px;
      background-image: url("src/assets/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &.s3 {
    p {
      margin-bottom: 100px;
    }

    .footer {
      position: absolute;
      bottom: 75px;
      width: 94% ;
      left: 3%;
      a {
        text-decoration: none;
        color: $primary-color-dark;
        margin-right: 50px;
      }
    }
  }



  .search-input {
    background-color: $broken-white;
    font-weight: 600 !important;
    font-size: 25px !important;
    &::placeholder {
      color: $primary-color-light;
    }
  }


  .content {
    margin-left: 10%;
    width: 80%;
    text-align: center;

    .row {

      .col {
        background-position: center;
        background-size: contain;
        &.step1 {height: calc(243/1920*100vw); width: calc(275/1920*100vw); }
        &.step2 {height: calc(243/1920*100vw); width: calc(320/1920*100vw);}
        &.step3 {height: calc(243/1920*100vw); width: calc(320/1920*100vw);}
        &.arrow1 {background-image: url("src/assets/pfeil1.png");height: calc(90/1920*100vw); width: calc(375/1920*100vw);background-repeat: no-repeat;}
        &.arrow2 {background-image: url("src/assets/pfeil2.png");height: calc(90/1920*100vw); width: calc(375/1920*100vw);background-repeat: no-repeat;}
      }
    }



  }
  h1 {
    position: relative;
    letter-spacing: 2px;
    z-index: 5;
    &:after {
      z-index: -1;
      content: "\a";
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 66px;
      width: 950px;
      background-image: url("src/assets/shine.png");
      background-size: contain;
      background-repeat: no-repeat;

    }
  }
  &.s1 {background-image: url("src/assets/background_landing1.png");}
  &.s2 {background-image: url("src/assets/background_landing2.png");}
  &.s3 {background-image: url("src/assets/background_landing3.png");}
  .scroller {
    width: 110px;
    height: 50px;
    color: $primary-color-dark;
    text-decoration: none;
    position: absolute;
    display: block;
    right: 15px;
    bottom: 110px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    &:after {
      bottom: 5px;
      left: 0px;
      content: "\a";
      height: 2px;
      position: absolute;
      width: 110px;
      background-color: $primary-color-dark;
    }
  }
}


/*Responsive Design Stuff */
$break-small: 480px;

.section {
  @media screen and (max-width: $break-small) {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 35px;
    }
  }
}


