body {
  background-image: url("src/assets/background_landing2.png");
  background-size: cover;
}

.container {
  margin-top:25px;

  .back-btn {
    color: #2B6B65;
    font-weight: bold;
    font-size: 25px;
  }
}


#ty-modal {
  background-color: #2B6B65;
  h1 {
    color: #FFF;
    text-align: center;
    margin-top: 15px;
  }
  .btn {
    width: 100%;
  }
  .white {
    color: #000;
  }
}
