@import url(~fullpage.js/dist/fullpage.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  font-family: rockwell, sans-serif;
  color: #2B6B65;
}

@media only screen and (min-width: 200px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 17px;
  }
}

h1 {
  font-weight: 700;
  font-size: 6rem;
}

h2 {
  font-weight: 600;
  font-size: 4.3rem;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
}

p {
  font-weight: 400;
  font-size: 17px;
}

.no-margin-bot {
  margin-bottom: 0;
}

.input-group {
  display: table;
}

.input-group input, .suffix {
  display: table-cell;
}

.suffix {
  width: 1%;
}

.section {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.section .mobile-view {
  visibility: hidden;
}

.section.s1 .logo-container {
  position: absolute;
  top: 100px;
  width: 80%;
  margin-left: 10%;
}

.section.s1 .logo {
  width: 270px;
  height: 75px;
  background-image: url("src/assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.section.s3 p {
  margin-bottom: 100px;
}

.section.s3 .footer {
  position: absolute;
  bottom: 75px;
  width: 94%;
  left: 3%;
}

.section.s3 .footer a {
  text-decoration: none;
  color: #2B6B65;
  margin-right: 50px;
}

.section .search-input {
  background-color: #EFF9F8;
  font-weight: 600 !important;
  font-size: 25px !important;
}

.section .search-input::-webkit-input-placeholder {
  color: #82CDC6;
}

.section .search-input:-ms-input-placeholder {
  color: #82CDC6;
}

.section .search-input::-ms-input-placeholder {
  color: #82CDC6;
}

.section .search-input::placeholder {
  color: #82CDC6;
}

.section .content {
  margin-left: 10%;
  width: 80%;
  text-align: center;
}

.section .content .row .col {
  background-position: center;
  background-size: contain;
}

.section .content .row .col.step1 {
  height: calc(243/1920*100vw);
  width: calc(275/1920*100vw);
}

.section .content .row .col.step2 {
  height: calc(243/1920*100vw);
  width: calc(320/1920*100vw);
}

.section .content .row .col.step3 {
  height: calc(243/1920*100vw);
  width: calc(320/1920*100vw);
}

.section .content .row .col.arrow1 {
  background-image: url("src/assets/pfeil1.png");
  height: calc(90/1920*100vw);
  width: calc(375/1920*100vw);
  background-repeat: no-repeat;
}

.section .content .row .col.arrow2 {
  background-image: url("src/assets/pfeil2.png");
  height: calc(90/1920*100vw);
  width: calc(375/1920*100vw);
  background-repeat: no-repeat;
}

.section h1 {
  position: relative;
  letter-spacing: 2px;
  z-index: 5;
}

.section h1:after {
  z-index: -1;
  content: "\a";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 66px;
  width: 950px;
  background-image: url("src/assets/shine.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.section.s1 {
  background-image: url("src/assets/background_landing1.png");
}

.section.s2 {
  background-image: url("src/assets/background_landing2.png");
}

.section.s3 {
  background-image: url("src/assets/background_landing3.png");
}

.section .scroller {
  width: 110px;
  height: 50px;
  color: #2B6B65;
  text-decoration: none;
  position: absolute;
  display: block;
  right: 15px;
  bottom: 110px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.section .scroller:after {
  bottom: 5px;
  left: 0px;
  content: "\a";
  height: 2px;
  position: absolute;
  width: 110px;
  background-color: #2B6B65;
}

/*Responsive Design Stuff */
@media screen and (max-width: 560px) {
  .section h1 {
    font-size: 40px;
  }
  .section h2 {
    font-size: 35px;
  }
  .section .desktop-view {
    display: none;
  }
  .section .mobile-view {
    visibility: visible;
  }
  .section .mobile-view .fp-tableCell {
    height: 550px !important;
  }
  .section .mobile-view .fp-controlArrow.fp-prev {
    border-color: transparent #2B6B65 transparent transparent !important;
  }
  .section .mobile-view .fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #2B6B65 !important;
  }
}

body {
  background-image: url("src/assets/background_landing2.png");
  background-size: cover;
}

.container {
  margin-top: 25px;
}

.container .back-btn {
  color: #2B6B65;
  font-weight: bold;
  font-size: 25px;
}

#ty-modal {
  background-color: #2B6B65;
}

#ty-modal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#ty-modal h1 {
  color: #FFF;
  text-align: center;
  margin-top: 15px;
}

#ty-modal .btn {
  width: 100%;
}

#ty-modal .white {
  color: #000;
}

#ty-modal .row {
  margin-top: 25px;
}

#dish-modal h3.heading {
  text-align: center;
}

#dish-modal a.buy-btn {
  width: 100%;
}

#dish-modal p.split {
  text-align: center;
}

#buy-modal p {
  color: #000;
}

#buy-modal .buy-forms {
  margin-top: 25px;
}
/*# sourceMappingURL=main.css.map */