<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section s1">
    <div class="logo-container">    <div class="logo"></div>
    </div>
    <a href="#second" class="scroller">Scroll</a>
    <div class="container">
      <div class="row">
        <h1>The greatest party<br>that will happen</h1>
      </div>
      <div class="row">
        <p class="col s12 m7">Zuletzt wurde durch den Erlass vom 17.03.2020 in NRW beschlossen, dass Restaurants und Gaststätten frühestens ab 6 Uhr zu öffnen und spätestens um 15 Uhr zu schließen haben und nur unter strengen Auflagen in dieser Zeit geöffnent bleiben dürfen. Für viele Gastronomen bedeutet das massive Verluste und nicht verkraftbare Umsatzeinbrüche</p>
      </div>
    </div>
  </div>
  <div class="section s2">
    <div class="content">
      <div class="row no-margin-bot"><h2 class="left-align col l9 m12 no-margin-bot">Anstatt aufs Haus, gehen die Drinks nun auf uns!</h2></div>
      <div class="row"><p class="left-align">Unterstütze deinen Lieblingsgastronomen und lad ihn doch einfach mal auf 'nen Drink ein!</p></div>
      <div class="row no-margin-bot">
        <div class="col l3 offset-l3 arrow1"></div>
        <div class="col l2 offset-l1"><p>Beim Kauf spendierst du deinem Lieblingslokal auch ein Getränk - Cheers!</p></div>
      </div>
      <div class="row">
        <div class="col l2"><p>Kauf einen Drink für dich oder lad doch direkt einen Freund ein - wenn das Chaos vorbei ist habt ihr genug zu bequatschen!</p></div>
        <div class="col l2 step1">
          <div [inlineSVG]="'/assets/step1.svg'"></div>
        </div>
        <div class="col l3 step2 offset-l1">
          <div [inlineSVG]="'/assets/step2.svg'"></div>
        </div>
        <div class="col l3 step3 offset-l1">
          <div [inlineSVG]="'/assets/step3.svg'"></div>
        </div>
      </div>
      <div class="row">
        <div class="col l3 offset-l7 arrow2"></div>
        <div class="col l2 "><p>Du und dein Freund erhaltet einen Gutschein per Email, den ihr einlösen könnt sobald euer Lieblingslokal wieder geöffnet ist</p></div>
      </div>
    </div>



    <a href="#third" class="scroller">Scroll</a>

  </div>
  <div class="section s3">
    <a href="#first" class="scroller">Scroll top</a>
    <div class="container">
      <div class="row no-margin-bot"><h2 class="no-margin-bot">Worauf wartest du?</h2></div>
      <div class="row"><p class="col l6 s12">Finde dein Lieblingslokal, such dir dein Lieblingsgetränk oder Gericht aus und freu dich schon darauf demnächst wieder dort sein zu können! Denn Vorfreude ist die schönste Freude.</p></div>
      <div class="row">
        <div class="col l8">
          <input (keyup)="onKey($event)" type="text" class="search-input col l6" placeholder="zB 50678">
          <div class="col l6">
            <a routerLink="/finder" [queryParams]="{zip:this.zipcode}" class="waves-effect waves-light btn-large btn" type="button">Lieblingslokal finden</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">

      <a href="#" class="col">Für Lieblingslokal</a>
      <a href="#" class="col">Kontakt</a>
      <a href="./impressum" class="col">Impressum</a>
      <a href="./datenschutz" class="col">Datenschutz</a>
    </div>
  </div>
</div>
