<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section s1">
    <div class="logo"></div>
    <a href="#second" class="scroller">Scroll</a>
    <div class="container">
      <div class="row">
        <h1>The greatest party<br>that will happen</h1>
      </div>
      <div class="row">
        <p class="col s12 m7">Zuletzt wurde durch den Erlass vom 17.03.2020 in NRW beschlossen, dass Restaurants und Gaststätten frühestens ab 6 Uhr zu öffnen und spätestens um 15 Uhr zu schließen haben und nur unter strengen Auflagen in dieser Zeit geöffnent bleiben dürfen. Für viele Gastronomen bedeutet das massive Verluste und nicht verkraftbare Umsatzeinbrüche</p>
      </div>
    </div>
  </div>
  <div class="section s2">
    <div class="content">
      <div class="row">
        <div class="col l3 offset-l3"></div>
        <div class="col l3"></div>
      </div>
      <div class="row">
        <div class="col l2"><p>Kauf einen Drink für dich oder lad doch direkt einen Freund ein - wenn das Chaos vorbei ist habt ihr genug zu bequatschen!</p></div>
        <div class="col l2 red"></div>
        <div class="col l3 yellow offset-l1"></div>
        <div class="col l3 green offset-l1"></div>
      </div>
      <div class="row"></div>
    </div>



    <a href="#third" class="scroller">Scroll</a>

  </div>
  <div class="section s3">
    <a href="#first" class="scroller">Scroll top</a>
  </div>
</div>
