
<div class="container">

  <a class="waves-effect waves-light btn-large"><<< Zurück</a>

<h3>Wir haben folgende Restaurants in <span>placeholder</span> gefunden.</h3>
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="assets/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal accent-4 pulse"><img src="assets/placeholder_drink_icon.png"></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="assets/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal accent-4 pulse"><img src="assets/placeholder_drink_icon.png"></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="assets/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal accent-4 pulse"><img src="assets/placeholder_drink_icon.png"></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="assets/sample-1.jpg">
          <span class="card-title">Card Title</span>
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal accent-4 pulse"><img src="assets/placeholder_drink_icon.png"></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>

  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active teal"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>

</div>


