* {font-family: rockwell, sans-serif; font-weight: 400; font-size: 19px; color: $primary-color-dark;}
h1 {font-weight: 700;font-size: 103px;}
h2 {font-weight: 600;font-size: 2rem;}
h3 {font-weight: 500;font-size: 2rem;}
p {font-weight: 400;font-size: 17px;}
